*{
    margin: 0;
    padding: 0;
}

.main{
    margin: 20px;

}
.searchbar{
    width:55vw;
    text-align: start;
}
.top-heading{
    margin-left: 20px;
    text-align: start;
   
   
}
.heading-div{
    width: 93vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.today-weather{
    border: 1px solid rgb(161, 157, 157);
    /* width:88vw; */
    /* height: 100px; */
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    font-size: medium;
    font-weight: 500;
}
/* .day-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 20px;
} */

.condition-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 85vw;
    margin-top: 10px;
}
.all-container {
    display: flex;
    /* justify-content: space-around; */
    gap:3rem;
}
.all-container p {
    margin-left: 10px;
    margin-right: 10px;
}
.sun-container{
    flex-direction: row;
}
.table-div{
    margin: 20px;
    width: 92vw !important;
    border-radius: 10px !important;
    box-shadow: 5px 10px 18px #888888 !important;
}
span{
    color:rgb(120, 116, 116);
    font-size: medium;
}
.icons{
    border: 1px solid red;
}
.image{
    height: 55px;
}
/* button{
    background-color: transparent;
    border: 1px solid;
    font-size: large;
} */
.toggle{
    margin-top: 50px !important;
    width:90vw;
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
