* {
    margin: 0;
    padding: 0;
}
.container-div {
    height: 330px;
    /* width: 85vw; */
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #0a6dc2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.inner-div{
    padding:0;
    display: flex;
    justify-content: space-between;
}
.sunday {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    text-align: start;
}
.weeks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    color: #ded6d6;
    font-weight: 400;
}
.sunday-info {
    margin: 0;
    padding: 0;
}
.card-heading{
    font-size: 45px;
    font-weight: 600;
}
.condition-text{
    font-size: medium;
    font-weight:400;
}
.heading_info{
    display: flex;
    gap:2rem;
    padding: 20px;
    margin-right: 50px;
    color: #ded6d6;
    font-weight: 400;
}